/* Colour pallet created with https://colors.muz.li/.
Design ideas from travelalberta.ca */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html{
    width: 1440px;
}

body{
    background-color: #dad3ff;
    width: 100%;
    padding: 0;
    margin: 0;
}

header nav {
    
    padding-bottom: 3rem;
}

nav span {
    vertical-align: 20px;
}


header a, footer a {
    color: #51279B;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1.85rem;
}

header a:hover, footer a:hover {
    color: #8662c7;
}

.icon {
    height: 13px;
    width: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}

footer{
    width: 1408px;
    padding: 1rem;
    text-align: center;
    background-color: #b5a7ff;
}

footer p{
    font-size: 10px;
}